header {
	max-height: 44px;
}

.sobre li {
	display: inline-block;
	margin-right: 7px;
}

.sobre {
	position: relative;
	font-weight: bold;
    margin-top: 17px;
    margin-left: 15px;
}

.services li {
	display: inline-block;
	vertical-align: center;
}

.services {
	font-weight: bold;
	position: relative;
    text-align: right;
    top: -20px;
    margin-right: 15px;
}

#Gmail {
	position: relative;
	margin-right: 7px;
    top: -15px;
}

#Imagens {
	position: relative;
	margin-right: 15px;
    top: -15px;
}

#apps_icon {
	max-width: 30px;
	margin-right: 3px;
	margin-bottom: 5px;
}

#profile {
	display: inline-block;
	position: relative;
	border-radius: 1000px;
	max-width: 40px;
}

/*----------------------------------------------------------------------------*/
/*----------------------------------------------------------------------------*/

main {
	text-align: center;
	margin-top: 140px;
	margin-bottom: 323px;
}

.icon {
	max-width: 20em;
}

#pesquisa {
	display: inline-block;
	border-radius: 20px;
	text-align: left;
	border: 1px solid #DFDFDF;
	box-shadow: 3px 3px 20px #E8E8E8;
	margin-top: 13px;
	margin-bottom: 14px;
	padding: 12px 175px 12px 175px;
}

.bottons {
	margin-top: 5px;
	border-radius: 5px;
	border: none;
	padding: 9px 12px 9px 12px;
}

footer {
	background: linear-gradient(#FFFFFF, #CACACA);
	text-align: center;
}

#s1 li {
	display: inline-block;
}

#s2 li {
	display: inline-block;
}

.imgif {
    display: none
}

.desabilitar {
	display: none;
}